<h1>Book Your Flight</h1>

<%= form_with model: @booking, local: true do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <%= f.hidden_field :num_passengers, value: @num_passengers %>

  <h2>Flight: <%= @flight.departure_airport.code %> to <%= @flight.arrival_airport.code %> on <%= @flight.start_datetime.strftime('%Y-%m-%d %H:%M') %></h2>

  <h3>Passenger Information</h3>

  <% @booking.passengers.each_with_index do |passenger, index| %>
    <fieldset>
      <legend>Passenger <%= index + 1 %></legend>

      <%= f.fields_for :passengers, passenger do |p| %>
        <div>
          <%= p.label :name, "Name" %>
          <%= p.text_field :name %>
        </div>
        <div>
          <%= p.label :email, "Email" %>
          <%= p.email_field :email %>
        </div>
      <% end %>
    </fieldset>
  <% end %>

  <%= f.submit "Confirm Booking" %>
<% end %>


